# Pandas Walkthrough - Part 2

Before moving on, make sure you are comfortable with Pandas Series and DataFrames. Even if you are, work through the review below:

### Import NumPy and Pandas

In [ ]:
import numpy as np
import pandas as pd

### Series
Similar to a NumPy array, except a Series can be indexed by labels instead of a number. Series can also store any Python object.

In [ ]:
# Index labels
labels = ['one', 'two', 'three']

In [ ]:
# Standard List
arr = [5, 10, 15]
s1 = pd.Series(data=arr, index=labels)

# NumPy Array
np_arr = np.array([2, 4, 6])
s2 = pd.Series(data=np_arr, index=labels)

# Dictionary
d = {'a': 5, 'b':10, 'c':15}
s3 = pd.Series(data=d)

print(s1, s2, s3, sep='\n')

### DataFrames

Pandas DataFrames are dictionary-like containers for Series objects, and axes (rows and columns) are labeled. DataFrames are the primary data structure of Pandas.

In [ ]:
from numpy.random import randn
np.random.seed(5)

In [ ]:
df = pd.DataFrame(data=randn(5,4),index='r1 r2 r3 r4 r5'.split(),columns='c1 c2 c3 c4'.split())
df

Check the last walkthrough notebook for more information on indexing.

### Missing Data
More often than not, a dataframe will have missing data represented by NaN. When dealing with a large dataset, this can become an issue when analyzing data. Let's discuss how to deal with this.

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[1,np.nan,np.nan],
                  'C':[1,2,3]})
df

In [ ]:
# Drops any row with missing data
df.dropna()

In [ ]:
# Drops any column with missing data
df.dropna(axis=1)

In [ ]:
# Drops any row with missing data >= thresh
df.dropna(thresh=2)

In [ ]:
# Replace missing data with 'value'
df.fillna(value=0)

In [ ]:
# An example of filling missing data with unique values
df['A'].fillna(value=df['A'].mean())

### Groupby
groupby() is a powerful method for grouping rows of data together.

In [ ]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
# Group rows by column
df.groupby('Company')

Notice that there isn't any output here. This is because groupby returns a DataFrameGroupBy object. Let's see what we can do with this.

In [ ]:
company = df.groupby('Company')

We can now call aggregate methods off of this object to analyze the dataframe:

In [ ]:
# Based on Sales data
company.mean()

In [ ]:
# Based on Sales data
company.std()

In [ ]:
company.max()

In [ ]:
company.min()

In [ ]:
company.count()

In [ ]:
# A single function for everything above
company.describe()

In [ ]:
# reflect the dataframe over the diagonal (rows -> columns, columns -> rows)
company.describe().transpose()

In [ ]:
company.describe().transpose()['FB']

In [ ]:
df.groupby('Company').describe()

Note that each of the functions above return a DataFrame object.

In [ ]:
type(df.groupby('Company').describe())

### Combining DataFrames

There are three main methods for combining DataFrames: merge, join, and concatenate. Let's explore each one.

### Merging
The merge function allows for merging similar to SQL databases.

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left,right,how='inner',on='key')

A more complicated example.

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
# inner => intersection
pd.merge(left, right, how='inner', on=['key1', 'key2'])

In [ ]:
# outer => union
pd.merge(left, right, how='outer', on=['key1', 'key2'])

In [ ]:
# SQL right-join, only uses keys from right frame
pd.merge(left, right, how='right', on=['key1', 'key2'])

In [ ]:
# SQL left-join, only uses keys from left frame
pd.merge(left, right, how='left', on=['key1', 'key2'])

## Joining
The join function allows for combining differently-indexed DataFrames.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left.join(right)

In [ ]:
# outer => union
left.join(right, how='outer')

### Concatenation
The concat method combines all values of the input DataFrames. The dimensions must match the axis you are concatenating on.

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

We are making the data frames simple to concatenate in order to demonstrate the basic functionality of concat.

In [ ]:
pd.concat([df1,df2,df3])

In [ ]:
pd.concat([df1,df2,df3],axis=1)

Note how the dimensions don't match here. Always concatenate on the proper axis!

### Input and Output

#### CSV Files:

In [ ]:
df = pd.read_csv('example.csv')

In [ ]:
df

In [ ]:
df.to_csv('output',index=True)

#### Excel Files:

In [ ]:
pd.read_excel('Excel_Sample.xlsx', index_col=0)

#### HTML Tables

In [ ]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [ ]:
df[0]

### Miscellanous Functions

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,3],'col2':[145,50,180,120],'col3':['abc','def','ghi','xyz']})
df.head()

#### Info On Values

In [ ]:
df['col1'].unique()

In [ ]:
df['col2'].nunique()

In [ ]:
df['col3'].value_counts()

#### Applying Functions

In [ ]:
def square(x):
    return x**2

In [ ]:
df['col1'].apply(square)

In [ ]:
df['col3'].apply(len)

#### Getting DataFrame information

In [ ]:
# Column names
df.columns

In [ ]:
df.index

#### Sorting DataFrames

In [ ]:
df.sort_values(by='col2')

#### Checking for and dealing with null values

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[1,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
# Checking for null values
df.isnull()

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df = df.pivot_table(values='D',index=['A', 'B'],columns=['C'])
df.fillna(0)

For now, this is all you need to know for Pandas. Feel free to revisit this notebook if you forget any functions or concepts.